/* AddCart.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.shopping-cart-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.shopping-cart-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #28a745;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-scroll-container {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
}

.card-scroll-container::-webkit-scrollbar {
  width: 10px;
}

.card-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.card-scroll-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.card {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-summary-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.primary-button {
  width: 100%;
  background-color: #a76c28;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-button:hover {
  background-color: #885421;
  transform: scale(1.05);
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .card {
    margin: 10px 0;
  }

  .shopping-cart-header {
    padding: 15px;
  }

  .primary-button {
    padding: 8px;
  }
}

/* AddCart.css */
