.perals-home-main-con {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
  }
  
  .perals-side-nav {
    margin-top: 2rem;
  }
  .pearlshome-container {
    position: relative;
  }
  
  .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  